@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $colors: (
    'primary': (
      'base': green,
    ),
  ),
  $bg-color: (
    '': rgb(11, 15, 25),
    'page': rgb(11, 15, 25),
    'overlay': rgb(11, 15, 25),
  ),
  $fill-color: (
    '': rgb(11, 15, 25),
    'light': rgb(11, 15, 25),
    'lighter': rgb(11, 15, 25),
    'extra-light': rgb(11, 15, 25),
    'dark': rgb(11, 15, 25),
    'darker': rgb(11, 15, 25),
    'blank': rgb(11, 15, 25),
  )
);