@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': orange,
    ),
  ),
  $bg-color: (
    '': transparent,
    'page': transparent,
    'overlay': transparent,
  ),
  $fill-color: (
    '': transparent,
    'light': transparent,
    'lighter': transparent,
    'extra-light': transparent,
    'dark': transparent,
    'darker': transparent,
    'blank': transparent,
  )
);
